* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-clr: #023047;
    --secondary-clr: #8ECAE6;
    --link-hover-clr: #CAF0F8;
    --clr-white: white;
    --clr-black: black;
}

body {
    position: relative;
    background-color: var(--primary-clr);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* HEADER NAVIGATION*/
header {
    position: sticky;
    top: 10px;
}

#nav-bar {
    width: 500px;
    height: 50px;
    border-radius: 30px;
    margin: 20px auto;
    background-color: var(--secondary-clr);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 10px 0 var(--secondary-clr);
}

#nav-bar li a {
    color: var(--primary-clr);
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9rem;
}

#nav-bar li a:hover {
    color: white;
}

.active {
    color: white !important;
}

/* FOR ALL  */
#home-section,
#about-section,
#portfolio-section,
#contact-section {
    height: 100vh;
}

.content {
    margin: 0 15%;
}

/* HOME  */
#home-section {
    background-color: var(--primary-clr);
    --fs-heading: 3em;
    font-size: var(--fs-heading);
}


/* ABOUT  */
#about-section {
    background-color: green;
}

/* PORTFOLIO  */
#portfolio-section {
    background-color: pink;
}

/* CONTACT  */
#contact-section {
    background-color: yellow;
}

/* FOOTER  */

#footer-section {
    background-color: var(--clr-black);
    height: 150px;
    color: var(--clr-white);
    text-align: center;
}