* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-clr: #023047;
    --secondary-clr: #8ECAE6;
    --link-hover-clr: #CAF0F8;
    --clr-white: white;
    --clr-black: black;
}

body {
    position: relative;
    background-color: var(--primary-clr);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* HEADER NAVIGATION*/
header {
    position: sticky;
    top: 20px;
    z-index: 999;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cyan;
    width: min(90%, 1280px);
    margin: 20px auto;
    height: 50px;
    padding: 0 1rem;
    background-color: var(--secondary-clr);
    position: relative;

}

.left-nav {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-nav:hover {
    background-color: var(--clr-white);
}

.left-nav-content {
    display: none;
}

.right-nav li a {
    color: var(--primary-clr);
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9rem;
}

.left-nav-content-one {
    display: none;
    position: absolute;
    color: white;
    top: 50px;
    left: 0;
    width: 50vw;
    padding: 0rem 1rem;
    background-color: var(--secondary-clr);
    /* background-color: red; */
}

.left-nav-content-one li a {
    color: var(--primary-clr);
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9rem;
    line-height: 2rem;
}

.left-nav-content-one li a:hover {
    color: white;
}


.active {
    color: white !important;
}

/* FOR ALL  */
#about-section,
#portfolio-section,
#contact-section {
    height: 100vh;
}

/* UTILITY CLASSES */
.content {
    width: min(90%, 1280px);
    margin: 0 auto;
    height: 100%;
}

.text-center {
    text-align: center;
}

.outline {
    outline: 3px solid var(--secondary-clr);
    outline-style: dashed;
    padding: 0 1rem;
}

.main-title-heading {
    font-size: min(7vw, 3rem);
    color: white;
    text-transform: uppercase;
}

/* HOME  */
#home-section {
    height: 90vh;
    background-color: var(--primary-clr);
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hello-gif img {
    width: min(300px, 100%);
    height: min(300px, 100%);
}

.letter-redpink {
    color: #D81159 !important;
}

.letter-animate {
    transition: transform .9s ease-in-out, scale 1s linear;
}

.letter-animate,
.letter-no-animate {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: min(8vw, 5rem);
    font-weight: 900;
}

.letter-animate:hover {
    transform: rotate(360deg);
    scale: 1.2;
    color: var(--secondary-clr);
}

/* GO ABOUT SECTION BUTTON  */
.go-bot-wrapper {
    margin-top: 30px;
    width: 40px;
    height: 60px;
    position: relative;
    border: 3px solid var(--clr-white);
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.go-bot-circle {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--secondary-clr);
    animation: ani 1s ease-in-out infinite alternate;
}


@keyframes ani {
    to {
        top: 33px;
    }
}

@media(min-width: 890px) {
    .nav-bar {
        width: 500px;
        height: 50px;
        border-radius: 30px;
        margin: 20px auto;
        background-color: var(--secondary-clr);
        display: flex;
        box-shadow: 0 0 10px 0 var(--secondary-clr);
    }

    .right-nav {
        display: none;
    }

    .left-nav {
        display: none;
    }

    .left-nav-content {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-bar li a {
        color: var(--primary-clr);
        font-weight: 600;
        text-transform: uppercase;
        font-size: .9rem;
    }

    .nav-bar li a:hover {
        color: white;
    }

}




/* ABOUT  */
#about-section {
    /* background-color: green; */
    padding-top: 90px;
}

.about-content {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.about-content span {
    margin-top: -5rem;
    font-size: min(5vw, 3rem);
    color: #D81159;
    font-weight: 500;
}

.about-content h1 {
    font-size: min(5vw, 5rem);
}

.about-content p {
    font-size: min(5vw, 2rem);
    font-weight: 200;
}

.icon-container a {
    color: white;
}

.icon-container a i {
    font-size: min(5vw, 2.5rem);
    margin: 0 1rem;
}





/* PORTFOLIO  */
#portfolio-section {
    padding-top: 90px;
    outline: 1px solid red;
}

.project-content {
    height: 100%;
    background-color: red;
}






/* CONTACT  */
#contact-section {
    background-color: yellow;
    padding-top: 90px;
}

/* FOOTER  */

#footer-section {
    background-color: var(--clr-black);
    height: 150px;
    color: var(--clr-white);
    text-align: center;
}