/* 
    HEADER NAVIGATION
*/
body {
    position: relative;
    background-color: var(--primary-clr);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 20px;
    z-index: 999;
}

/* MOBILE NAV BAR  */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(90%, 1280px);
    margin: 20px auto;
    height: 50px;
    padding: 0 1rem;
    background-color: var(--secondary-clr);
    position: relative;
    box-shadow: 0 0 10px 0 var(--secondary-clr);
}

.left-nav {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-nav:hover {
    background-color: var(--clr-white);
}

.left-nav-content {
    display: none;
}

.right-nav li a {
    color: var(--primary-clr);
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9rem;
}

.left-nav-content-one {
    opacity: 0;
    position: absolute;
    color: var(--clr-white);
    top: 50px;
    left: 0;
    width: 50vw;
    padding: 0rem 1rem;
    background-color: var(--secondary-clr);
    box-shadow: 0 0 10px 0 var(--secondary-clr);
    /* background-color: red; */
    transition: all .5s ease-in-out;
}

.left-nav-content-one li a {
    color: var(--primary-clr);
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9rem;
    line-height: 2rem;
}

.left-nav-content-one li a:hover {
    color: var(--clr-white);
}

.active {
    color: var(--clr-white) !important;
}

/* NAV BAR RESPONSIVENESS  */
@media(min-width: 890px) {

    /* DESKTOP NAV  */
    .nav-bar {
        width: 600px;
        height: 50px;
        border-radius: 30px;
        margin: 20px auto;
        background-color: var(--secondary-clr);
        display: flex;
        align-items: center;
        box-shadow: 0 0 10px 0 var(--secondary-clr);
    }

    .theme-button {
        cursor: pointer;
        width: 40px;
        text-align: center;
        height: auto;
    }

    .right-nav {
        display: none;
    }

    .left-nav {
        display: none;
    }

    .left-nav-content {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-bar li a {
        color: var(--primary-clr);
        font-weight: 600;
        text-transform: uppercase;
        font-size: .9rem;
    }

    .nav-bar li a:hover {
        color: var(--clr-white);
    }
}