/* HERO  */
#home-section {
    height: 90vh;
    background-color: var(--primary-clr);
    outline: 1px solid salmon;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hello-gif img {
    width: min(300px, 100%);
    height: min(300px, 100%);
}

.letter-redpink {
    color: var(--accent-clr) !important;
}

.letter-animate {
    transition: transform .9s ease-in-out, scale 1s linear;
}

.letter-animate,
.letter-no-animate {
    display: inline-block;
    cursor: pointer;
    color: var(--clr-white);
    font-size: min(8vw, 5rem);
    font-weight: 900;
}

.letter-animate:hover {
    transform: rotate(360deg);
    scale: 1.2;
    color: var(--secondary-clr);
}

/* GO ABOUT SECTION BUTTON  */
.go-bot-wrapper {
    margin-top: 30px;
    width: 40px;
    height: 60px;
    position: relative;
    border: 3px solid var(--clr-white);
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.go-bot-circle {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--secondary-clr);
    animation: ani 1s ease-in-out infinite alternate;
}

@keyframes ani {
    to {
        top: 33px;
    }
}