body {
    position: relative;
    background-color: var(--primary-clr);
    scroll-behavior: smooth;
    --outline: none;
    --primary-clr: #023047;
    --secondary-clr: #8ECAE6;
    --secondary-clr-30-opacity: rgba(142, 202, 230, 0.3);
    --link-hover-clr: #CAF0F8;
    --accent-clr: #D81159;
    --clr-white: #fff;
    --clr-black: #000;
}

.light-theme {
    --primary-clr: #F5EEE6;
    --outline: 1px solid #023047;
    --secondary-clr: #8ECAE6;
    --secondary-clr-30-opacity: rgba(142, 202, 230, 0.3);
    --link-hover-clr: #CAF0F8;
    --accent-clr: #D81159;
    --clr-white: #000;
    --clr-black: #fff;
    --clr-white-links: #fff;
    --clr-black-links: #000;
}

/* :root {
    --primary-clr: #023047;
    --secondary-clr: #8ECAE6;
    --secondary-clr-30-opacity: rgba(142, 202, 230, 0.3);
    --link-hover-clr: #CAF0F8;
    --accent-clr: #D81159;
    --clr-white: #fff;
    --clr-black: #000;
    --nav-bar-bg: #00ffff;
} */